@import '../../common/colors.scss';

.movie {
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.3s;
  min-height: 450px;
  height: 100%;
  margin: 0 15px;

  &:hover {
    transform: scale(1.05);
  }

  background-color: $secondary;
  &__poster {
    border-radius: 20px 20px 0 0;
  }
  &__bottom {
    padding: 15px;
  }
  &__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  &__year {
    color: $text-secondary;
  }
}

@media (max-width: 768px) {
  .movie {
    max-width: 300px;
    margin: 0 auto;
  }
}
