@import '../../common/colors.scss';

.content {
  &__movie-list,
  &__show-list {
    margin: 50px 0;
  }
  &__header {
    font-weight: 600;
    color: $text-secondary;
    margin-bottom: 10px;
    font-size: 30px;
  }
}

.slick-dots > li button::before {
  color: white;
}

.slick-prev {
  left: -10px;
  z-index: 100;
}

.slick-next {
  right: -10px;
  z-index: 100;
}

@media (max-width: 678px) {
  .slick-prev {
    left: 100px;
  }

  .slick-next {
    right: 100px;
  }
}
